Krill sometimes issues certs with UTF8String in the Issuer

Consider this manifest [76993140DD5AB22EA33ECE7A9292FA3CB420C368.mft.gz](https://github.com/user-attachments/files/31590264/76993140DD5AB22EA33ECE7A9292FA3CB420C368.mft.gz). It uses the characteristic ROA notation in the fileList and has the krill-typical 300s delay between signing time and this update (among other hints), so I'm quite confident that it was created by krill.

It is malformed because the signer EE cert has this issuer:

```
    SEQUENCE {
      SET {
        SEQUENCE {
          # commonName
          OBJECT_IDENTIFIER { 2.5.4.3 }
          UTF8String { "A916FC1D0000" }
        }
      }
      SET {
        SEQUENCE {
          # serialNumber
          OBJECT_IDENTIFIER { 2.5.4.5 }
          PrintableString { "76993140DD5AB22EA33ECE7A9292FA3CB420C368" }
        }
      }
    }
```

whereas [RFC 6487, sections 4.4 and 4.5][1] require the Issuer and Subject CommonName to be encoded as PrintableString, not UTF8String: "The CommonName attribute MUST be encoded using the ASN.1 type PrintableString [X.680]."

The more interesting bit is that the issuing certificate [dpkxQN1asi6jPs56kpL6PLQgw2g.cer.gz](https://github.com/user-attachments/files/31590449/dpkxQN1asi6jPs56kpL6PLQgw2g.cer.gz) has a correctly encoded subject:

```
    SEQUENCE {
      SET {
        SEQUENCE {
          # commonName
          OBJECT_IDENTIFIER { 2.5.4.3 }
          PrintableString { "A916FC1D0000" }
        }
      }
      SET {
        SEQUENCE {
          # serialNumber
          OBJECT_IDENTIFIER { 2.5.4.5 }
          PrintableString { "76993140DD5AB22EA33ECE7A9292FA3CB420C368" }
        }
      }
    }
```

I suspect what happened here is that the issuer's subject was extracted into a `ReceivedCertificate` in the past when the issuing cert had a `UTF8String` (APNIC had a short period at the start of 2026 where they used `UTF8String` in the CommonName). The malformed subject was cloned and the ReceivedCertificate continues to be used to issue new objects because that's what is in krill's stored state. This means that such objects stick around until the key info is updated.

Ideally, krill would not issue certificates with malformed issuers and subjects in the first place. I think the rules in RFC 5280 section 7.1 would allow for a reencoding to PrintableString without affecting the validation path.

There currently are about half a dozen CAs delegated by APNIC that issue objects affected by this malformedness. We would love to be able to reject UTF8Strings (except for BGPsec certs) in rpki-client.

[1]: https://www.rfc-editor.org/rfc/rfc6487.html#section-4.4

Some background: for a number of years we've been working with AfriNIC to clean up the standards non-compliant presence of `UTF8String` encoding in their issued products. That issue was first reported in [March 2023](https://lists.afrinic.net/pipermail/dbwg/2023-March/000436.html), the cause was identified to be a [confirmed](https://lists.afrinic.net/pipermail/dbwg/2024-March/000503.html) [documentation bug](https://lists.afrinic.net/pipermail/dbwg/2024-February/000501.html) in [OpenSSL](https://github.com/openssl/openssl/pull/23699/changes), and in [August 2026](https://lists.afrinic.net/pipermail/dbwg/2026-August/000582.html) the last nonconforming certificates got revoked/reissued, finally making their repository pristine. 🥳 

Overlapping with the aforementioned period of time, APNIC had an unfortunate regression in their signer system: in the period January 28th, 2026 - March 3rd, 2026 their system inadvertently issued resource certificates with `UTF8String` issuers & subjects instead of `PrintableString`. However, even after APNIC fully resolved the incident and revoked/reissued all nonconforming certificates , the transient issue appears to somehow have tainted the ongoing issuance process of (some?) Krill instances.

At the moment of writing there are six delegated CAs left in the ecosystem with unexpected `UTF8String`:

* [65:CF:5E:91:19:FB:84:A5:8A:DF:3B:33:C7:C9:6D:69:71:7E:FD:FB](https://console.rpki-client.org/akane.maru.co.jp/repo/1073c6/14/A1AE71CDA837CEEF69CE114D701C8650A0A8FAA9.mft.html)
* [63:73:85:87:D4:60:8E:CC:07:68:AC:7F:26:37:49:B7:27:24:5D:C3](https://console.rpki-client.org/akane.maru.co.jp/repo/1073c6/16/84473C6B34C577A1F9F67605C4A8045E5F4D35A8.mft.html)
* [7F:80:5C:69:4C:71:F2:86:9A:BE:2C:2C:58:F0:21:59:62:18:BE:83](https://console.rpki-client.org/rpki-rps.arin.net/repository/8a848ade82d5de410183f68661084b86/2/5ED5F7921AC86541D92936F691CB1CDBF6D5C2A1.mft.html)
* [AA:1B:25:EB:74:6B:F1:86:3C:DB:8C:87:4A:BB:1F:DB:3C:11:FC:03](https://console.rpki-client.org/rpki.owl.net/rrdp/owl/0/34071A863A3C6EF2DD36795F45540E2FB68950A0.mft.html)
* [79:8C:38:CC:34:DF:37:FD:C6:93:A9:0B:40:37:3D:17:D2:C7:5F:5B](https://console.rpki-client.org/rpki.roa.net/rrdp/xTom/58/5B1AD82F0E7DC771819A9A26674992A3951B9373.mft.html)
* [B7:B6:A5:A2:28:D3:CC:80:21:0A:9F:B9:33:72:7D:0D:28:F6:92:9D](https://console.rpki-client.org/rpki.sub.apnic.net/repository/A916FC1D0000/0/76993140DD5AB22EA33ECE7A9292FA3CB420C368.mft.html)

In https://github.com/NLnetLabs/rpki-rs/blob/5eb47ebae247b31ad9dab51bb3c95427d001bd7a/doc/relaxed-validation.md?plain=1#L24-L34 an implementation note was shared on the role of the issuer/subject fields in the RPKI. And while indeed the subject/issuer fields are intended to convey opaque non-identifying information and remain hidden from BGP routers, those fields _are_ used for X.509 certificate chain validation (i.e., cannot be ignored by RPs). My concern also is that auxiliary analysis/monitoring applications that ingest, for example, JSON output from tools like rpki-client / Routinator could naively be developed under the assumption that only 8-bit clean ASCII materializes in relationship to CA certs and trip up if unexpected (unescaped) UTF-8 appears instead.

In short, even though the issuer/subject fields at first glance may seem somewhat irrelevant, I'd argue that "unimportant" fields also must be encoded conforming to the RFC standards. To me the above listing of six CAs means we're _very_ close to RP implementations being able to collectively 'shut the gate' on unexpected `UTF8String` presence and prevent re-occurrence; similar to how we're heading towards actual deprecation of BER support in RPKI stacks. Your help would greatly be appreciated!