Check the OpenID Connect CSRF token.

Note: This relates to the `multi-user` feature in the `v0.8.1-bis` branch.



Applicable specificaiton references:

### OpenID Connect Core 1.0 incorporating errata set 1

[Section 1, 3.1.2.1.  Authentication Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest):
> state
RECOMMENDED. Opaque value used to maintain state between the request and the callback. Typically, Cross-Site Request Forgery (CSRF, XSRF) mitigation is done by cryptographically binding the value of this parameter with a browser cookie.

### RFC 6749 The OAuth 2.0 Authorization Framework

Note: There were no RFC 6749 errata at the time of writing relevant to the "state" parameter in this context.

[RFC 6749, Section 4.1.1.  Authorization Request](https://tools.ietf.org/html/rfc6749#section-4.1.1):
> state
         RECOMMENDED.  An opaque value used by the client to maintain
         state between the request and callback.  The authorization
         server includes this value when redirecting the user-agent back
         to the client.  The parameter SHOULD be used for preventing
         cross-site request forgery as described in Section 10.12.

[RFC 6749, Section 4.1.2.  Authorization Response](https://tools.ietf.org/html/rfc6749#section-4.1.2):
> state
         REQUIRED if the "state" parameter was present in the client
         authorization request.  The exact value received from the
         client.

[RFC 6749, Section 4.1.2.1.  Error Response](https://tools.ietf.org/html/rfc6749#section-4.1.2.1):
> state
         REQUIRED if a "state" parameter was present in the client
         authorization request.  The exact value received from the
         client.

[RFC 6749, Section 4.2.1.  Authorization Request](https://tools.ietf.org/html/rfc6749#section-4.1.2.1):
> state
         RECOMMENDED.  An opaque value used by the client to maintain
         state between the request and callback.  The authorization
         server includes this value when redirecting the user-agent back
         to the client.  The parameter SHOULD be used for preventing
         cross-site request forgery as described in Section 10.12.

[RFC 6749, Section 4.2.2.  Access Token Response](https://tools.ietf.org/html/rfc6749#section-4.2.2):
> state
         REQUIRED if the "state" parameter was present in the client
         authorization request.  The exact value received from the
         client.

[RFC 6749, Section 4.2.2.1.  Error Response](https://tools.ietf.org/html/rfc6749#section-4.2.2.1):
> state
         REQUIRED if a "state" parameter was present in the client
         authorization request.  The exact value received from the
         client.

[RFC 6749, Section 10.8.  Request Confidentiality](https://tools.ietf.org/html/rfc6749#section-4.2.2.1):
> The "state" and "scope" parameters SHOULD NOT include sensitive
   client or resource owner information in plain text, as they can be
   transmitted over insecure channels or stored insecurely.

[RFC 6749, Section 10.12.  Cross-Site Request Forgery](https://tools.ietf.org/html/rfc6749#section-10.12):
> Cross-site request forgery (CSRF) is an exploit in which an attacker
   causes the user-agent of a victim end-user to follow a malicious URI
   (e.g., provided to the user-agent as a misleading link, image, or
   redirection) to a trusting server (usually established via the
   presence of a valid session cookie).

> A CSRF attack against the client's redirection URI allows an attacker
   to inject its own authorization code or access token, which can
   result in the client using an access token associated with the
   attacker's protected resources rather than the victim's (e.g., save
   the victim's bank account information to a protected resource
   controlled by the attacker).

> The client MUST implement CSRF protection for its redirection URI.
   This is typically accomplished by requiring any request sent to the
   redirection URI endpoint to include a value that binds the request to
   the user-agent's authenticated state (e.g., a hash of the session
   cookie used to authenticate the user-agent).  The client SHOULD
   utilize the "state" request parameter to deliver this value to the
   authorization server when making an authorization request.

> Once authorization has been obtained from the end-user, the
   authorization server redirects the end-user's user-agent back to the
   client with the required binding value contained in the "state"
   parameter.  The binding value enables the client to verify the
   validity of the request by matching the binding value to the
   user-agent's authenticated state.  The binding value used for CSRF
   protection MUST contain a non-guessable value (as described in
   Section 10.10), and the user-agent's authenticated state (e.g.,
   session cookie, HTML5 local storage) MUST be kept in a location
   accessible only to the client and the user-agent (i.e., protected by
   same-origin policy).

> A CSRF attack against the authorization server's authorization
   endpoint can result in an attacker obtaining end-user authorization
   for a malicious client without involving or alerting the end-user.

> The authorization server MUST implement CSRF protection for its
   authorization endpoint and ensure that a malicious client cannot
   obtain authorization without the awareness and explicit consent of
   the resource owner.

[RFC 6749, Section 10.14.  Code Injection and Input Validation](https://tools.ietf.org/html/rfc6749#section-10.14):
> The authorization server and client MUST sanitize (and validate when
   possible) any value received -- in particular, the value of the
   "state" and "redirect_uri" parameters.

### RFC 6819 OAuth 2.0 Threat Model and Security Considerations

[RFC 6819, Section 3.6.  "state" Parameter](https://tools.ietf.org/html/rfc6819#section-3.6):
> The "state" parameter is used to link requests and callbacks to
   prevent cross-site request forgery attacks (see Section 4.4.1.8)
   where an attacker authorizes access to his own resources and then
   tricks a user into following a redirect with the attacker's token.
   This parameter should bind to the authenticated state in a user agent
   and, as per the core OAuth spec, the user agent must be capable of
   keeping it in a location accessible only by the client and user
   agent, i.e., protected by same-origin policy.

[RFC 6819, Section 4.4.1.8.  Threat: CSRF Attack against redirect-uri](https://tools.ietf.org/html/rfc6819#section-4.4.1.8):
> Countermeasures:

> o  The "state" parameter should be used to link the authorization
      request with the redirect URI used to deliver the access token
      (Section 5.3.5).

[RFC 6819, Section 4.4.1.12.  Threat: DoS Using Manufactured Authorization "codes"](https://tools.ietf.org/html/rfc6819#section-4.4.1.12):
> Countermeasures:

> o  Though not a complete countermeasure by themselves, CSRF defense
      and the "state" parameter created with secure random codes should
      be deployed on the client side.  The client should forward the
      authorization "code" to the authorization server only after both
      the CSRF token and the "state" parameter are validated.

[RFC 6819, Section 4.4.2.5.  Threat: CSRF Attack against redirect-uri](https://tools.ietf.org/html/rfc6819#section-4.4.2.5):
>  Countermeasures:

> o  The "state" parameter should be used to link the authorization
      request with the redirect URI used to deliver the access token.
      This will ensure that the client is not tricked into completing
      any redirect callback unless it is linked to an authorization
      request initiated by the client.  The "state" parameter should not
      be guessable, and the client should be capable of keeping the
      "state" parameter secret.

[RFC 6819, Section 5.3.5.  Link the "state" Parameter to User Agent Session](https://tools.ietf.org/html/rfc6819#section-5.3.5):
> The "state" parameter is used to link client requests and prevent
   CSRF attacks, for example, attacks against the redirect URI.  An
   attacker could inject their own authorization "code" or access token,
   which can result in the client using an access token associated with
   the attacker's protected resources rather than the victim's (e.g.,
   save the victim's bank account information to a protected resource
   controlled by the attacker).

> The client should utilize the "state" request parameter to send the
   authorization server a value that binds the request to the user
   agent's authenticated state (e.g., a hash of the session cookie used
   to authenticate the user agent) when making an authorization request.
   Once authorization has been obtained from the end user, the
   authorization server redirects the end-user's user agent back to the
   client with the required binding value contained in the "state"
   parameter.

> The binding value enables the client to verify the validity of the
   request by matching the binding value to the user agent's
   authenticated state.

Done in PR #424.