Client side login session is still considered valid by Krill if the token is removed at the OpenID Connect provider

Note: This relates to the `multi-user` feature in the `v0.8.1-bis` branch.

If the session is removed on the AuthProvider the client-side still can successfully perform API requests that require authentication, even though krill receives a 400 from the AuthProvider:

```
OpenID Connect: Refreshing token for user: "jasper@plainspace.com"
OpenID Connect: Submitting RFC-6749 section 6 Access Token Refresh request
OpenID Connect request: url: "http://localhost:8080/auth/realms/jasper_dev/protocol/openid-connect/token", method: POST, headers: {"accept": "application/json", "content-type": "application/x-www-form-urlencoded", "authorization": "Basic a3JpbGw6MTg0OGE0NDktYzlhNC00YWYzLTlhYmQtMTk0MzIzZmEwODI2"}, body: grant_type=refresh_token&refresh_token=eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJkYzg2NmQxNy0zZTI1LTRmOWYtYjFiOS1iNTQ0MTI1NjhkYTAifQ.eyJleHAiOjE2MTA1MzYyMzEsImlhdCI6MTYxMDUzNDQzMSwianRpIjoiMzYyYTBjMzEtOTI1ZS00MjQzLTg3MjYtMzZiMDQzNjk0Yzc1IiwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDo4MDgwL2F1dGgvcmVhbG1zL2phc3Blcl9kZXYiLCJhdWQiOiJodHRwOi8vbG9jYWxob3N0OjgwODAvYXV0aC9yZWFsbXMvamFzcGVyX2RldiIsInN1YiI6ImM4Y2I1ZjRjLTE3ZmUtNGUxNi1hYWRkLTQ4MDI3N2JiZWQ3MSIsInR5cCI6IlJlZnJlc2giLCJhenAiOiJrcmlsbCIsIm5vbmNlIjoiUTR4cnNmWmd5RUlNZExFWDBoekhCNHRwMUVvT3lBcGlCY0NIVk5maitvQT0iLCJzZXNzaW9uX3N0YXRlIjoiYjYyODkzZmUtM2Q1NS00MTg5LTkzNTMtMjMyNDcyODI2ZDBjIiwic2NvcGUiOiJvcGVuaWQgZW1haWwgcHJvZmlsZSJ9.e1mQXEBNA291402vjsmpjSiJuRikY_29boKcFc3nzWY
OpenID Connect response: status_code: 400, headers: {"cache-control": "no-store", "x-xss-protection": "1; mode=block", "pragma": "no-cache", "x-frame-options": "SAMEORIGIN", "referrer-policy": "no-referrer", "date": "Wed, 13 Jan 2021 10:44:21 GMT", "connection": "keep-alive", "strict-transport-security": "max-age=31536000; includeSubDomains", "x-content-type-options": "nosniff", "content-type": "application/json", "content-length": "59"}, body: {"error":"invalid_grant","error_description":"Stale token"}
OpenID Connect: Could not extend login session for user 'jasper@plainspace.com': Server returned error response
Authentication result: Ok(Some(ActorDef { name: AsString("jasper@plainspace.com"), is_user: true, attributes: UserDefined({"role": "admin"}), new_auth: None, auth_error: None }))
```

This happens after the session cache expires (otherwise the request would return SessionStatus::Active)

Hi @density215,

I'm not sure if there is an issue here or not, the logs you provided do not tell the whole story. For example it could be that the refresh attempt occurred because less than half of the lifetime of the current token remains and then even if the refresh fails the current token can still be usable up until the end of its lifetime. At line 598 of the OpenID Connect [`provider.rs` line 596](https://github.com/NLnetLabs/krill/blob/v0.8.1-bis/src/daemon/auth/providers/openid_connect/provider.rs#L596) the code checks for an actually expired token and fails the login attempt.

Did you/can you also capture the `TRACE` level log from [`session.rs` line 49](https://github.com/NLnetLabs/krill/blob/v0.8.1-bis/src/daemon/auth/common/session.rs#L49)?

```
"Login session status check: id={}, status={:?}, max age={} secs, cur age={} secs",
```

That would shed more light on the conditions under which the refresh attempt was made.

Also, let's see if we can extend [`openid_connect_mock.rs`](https://github.com/NLnetLabs/krill/blob/v0.8.1-bis/tests/ui/openid_connect_mock.rs) to simulate this scenario. The mock already has a `shorttokenwithrefresh@krill` user which is tested by [`multi_user_openid_connect.js`](https://github.com/NLnetLabs/krill/blob/v0.8.1-bis/tests/ui/cypress_specs/multi_user_openid_connect.js) which has a test called `Login receives short-lived refreshable token`. This tests for successful refresh but doesn't test for unsuccesful refresh.

Ximon

@density215: I've renamed the issue based on learning that this is about removal of the session at the 3rd party provider explicitly.

TODO items (partly based on our discussion, some from existing notes that hadn't made it to becoming GH issues yet):

- [ ] Implement proper checking of OpenID Connect 1.0 and OAuth 2.0 spec defined error codes (for example `invalid_grant` is defined in https://tools.ietf.org/html/rfc6749#section-5.2).
- [ ] Fix the bug that you have identified (this is a subset of the previous TODO item).
- [ ] Extend the tests to cover this and other such provider error cases.
- [ ] Document lack of support for immediate Krill session invalidation by revoking the session at the provider (aka Single Logout support), and decide if we want to support any of the various OpenID Connect logout related specs (e.g. see https://medium.com/@robert.broeckelmann/openid-connect-logout-eccc73df758f).