ietf draft: Registration Data Access Protocol (RDAP) Partial Response

https://datatracker.ietf.org/doc/draft-ietf-regext-rdap-partial-response

> 1.  Introduction
> 
>    The use of partial response in RESTful API ([REST]) design is very
>    common.  The rationale is quite simple: instead of returning objects
>    in API responses with all data fields, only a subset is returned.
>    The benefit is obvious: less data transferred over the network means
>    less bandwidth usage, faster server response, less CPU time spent
>    both on the server and the client, as well as less memory usage on
>    the client.
> 
>    Several leading APIs providers (e.g.  LinkedIn [LINKEDIN], Facebook
>    [FACEBOOK], Google [GOOGLE]) implement the partial response feature
>    by providing an optional query parameter by which users require the
>    fields they wish to receive.  Partial response is also considered a
>    leading principle by many best practices guidelines in REST APIs
>    implementation ([REST-API1], [REST-API2]) in order to improve
>    performance, save on bandwidth and possibly accelerate the overall
>    interaction.  In other contexts, for example in digital libraries and
>    bibliographic catalogues, servers can provide responses according to
>    different element sets (i.e. "brief" to get back a short response and
>    "full" to get back the complete response)
> 
>    Currently, RDAP does not provide a client with any way to request a
>    partial response: the server can only provide the client with the
>    full response ([RFC7483]).  Furthermore, servers cannot define the
>    limits of the results according to partial responses and this causes
>    strong inefficiencies.
> 
>    The protocol described in this specification extends RDAP search
>    capabilities to enable partial responses through the provisioning of
>    pre-defined sets of fields the user can request to an RDAP service by
>    adding a new query parameter.  The service is implemented using the
>    Hypertext Transfer Protocol (HTTP) ([RFC7230]) and the conventions
>    described in RFC 7480 ([RFC7480]).

Hi,

I am not sure how this relates to Krill, could you please clarify?

Thanks!
Tim

I am closing this issue, but if you can clarify if and how you want things to be different in the API then feel free to bring it up.