Allow a custom value for maxLength when creating an AS0 ROA

Currently the web UI automatically populates a maxLength value equal to the mask when creating an AS0 ROA.  The interface does not allow an option to modify the value.  Section 4 of RFC6483 it says that AS0 ROAs should have a maxLength of 32 for IPv4 and 128 for IPv6.

RFC6483 is an informational draft and it uses lower case 'should' here. It also goes on to say that even if the max length is omitted (and Krill will leave out the max length on the ROA object if it is the same as the prefix length) the outcome is the same.

There is some general aversion to allowing max length.

In short.. I will seek some guidance on the sidrops list, but my hunch is that leaving out the max length is actually preferred today. Alternatively I would let Krill default to /32 and /128. Other values are non-sensical. I do not believe that this should be a user editable field in the case of AS0 ROAs, but rather let Krill use either the prefix length or IP family length dependent on feedback from sidrops.



The current UI allows setting this to 32/128