Feature request: Auto-renewal

Have the capability to automatically renew certificates that are expiring.

This is already supported.

If you run Krill as a child it will talk to the parent continuously will request a new certificate when a [new validity time entitlement is received](https://tools.ietf.org/html/rfc6492#section-3.3.2). Except that.. I added a further check to stop Krill from requesting a new certificate every 10 minutes if the parent is naive enough to say that 'not after' is now + some fixed time, resulting in a new entitlement every time we ask :)

If you run Krill as a parent it will give children a 'not after' of 52 weeks after the first request for a key. It will keep using this exact not after time until 4 weeks before it would expire. Then it will answer with 52 weeks again, so children will then request new certs.

ROAs are automatically re-issued 4 weeks before they expire. MFTs and CRLs are re-issued 8 hours before they would go stale.

The only place where there is no automated renewal is for the RFC8183 identity certificates. But, this would actually require a bigger discussion in sidrops on how to deal with this, and ID key changes for that matter. I am still gathering the courage to start this discussion! For now though, this is not a big deal: typically these ID certificates are issued for many years and used as Trust Anchors in the validation of RFC8181 (publication) and/or RFC 6492 (RPKI certificate requests) between the parties involved.



