ietf draft: Registration Data Access Protocol (RDAP) Query Parameters for Result Sorting and Paging

https://datatracker.ietf.org/doc/draft-ietf-regext-rdap-sorting-and-paging

> 1.  Introduction
> 
>    The availability of functionality for result sorting and paging
>    provides benefits to both clients and servers in the implementation
>    of RESTful services [REST].  These benefits include:
> 
>    o  reducing the server response bandwidth requirements;
>    o  improving server response time;
>    o  improving query precision and, consequently, obtaining more
>       reliable results;
> 
>    o  decreasing server query processing load;
>    o  reducing client response processing time.
> 
>    Approaches to implementing features for result sorting and paging can
>    be grouped into two main categories:
> 
>    1.  Sorting and paging are implemented through the introduction of
>        additional parameters in the query string (i.e.  ODATA protocol
>        [OData-Part1]);
> 
>    2.  Information related to the number of results and the specific
>        portion of the result set to be returned, in addition to a set of
>        ready-made links for the result set scrolling, are inserted in
>        the HTTP header of the request/response.
> 
>    However, there are some drawbacks associated with the use of the HTTP
>    header.  First, the header properties cannot be set directly from a
>    web browser.  Moreover, in an HTTP session, the information on the
>    status (i.e. the session identifier) is usually inserted in the
>    header or in the cookies, while the information on the resource
>    identification or the search type is included in the query string.
>    The second approach is therefore not compliant with the HTTP standard
>    [RFC7230].  As a result, this document describes a specification
>    based on the use of query parameters.
> 
>    Currently, the RDAP protocol [RFC7482] defines two query types:
> 
>    o  lookup: the server returns only one object;
>    o  search: the server returns a collection of objects.
> 
>    While the lookup query does not raise issues in the response
>    management, the search query can potentially generate a large result
>    set that could be truncated according to the server limits.  In
>    addition, it is not possible to obtain the total number of the
>    objects found that might be returned in a search query response
>    [RFC7483].  Lastly, there is no way to specify sort criteria to
>    return the most relevant objects at the beginning of the result set.
>    Therefore, the client might traverse the whole result set to find the
>    relevant objects or, due to truncation, could not find them at all.
> 
>    The specification described in this document extends RDAP query
>    capabilities to enable result sorting and paging, by adding new query
>    parameters that can be applied to RDAP search path segments.  The
>    service is implemented using the Hypertext Transfer Protocol (HTTP)
>    [RFC7230] and the conventions described in RFC 7480 [RFC7480].
> 
>    The implementation of the new parameters is technically feasible, as
>    operators for counting, sorting and paging rows are currently
>    supported by the major RDBMSs.


Hi,

I am not sure how this relates to Krill, could you please clarify?

Thanks!
Tim